<div class={{styles.profile-input}}>
	<label for="{{name}}">{{label}}</label>
	<input name="{{name}}" id="{{name}}" type="{{type}}" value="{{value}}" {{#if disabled}}disabled{{/if}}/>
</div>
<p class={{styles.error}}>{{error}}</p>