<section class="{{styles.profile}}">
    {{{ avatar }}}
    <form>
        {{{ inputOldPassword }}}
        {{{ inputNewPassword }}}
        {{{ inputRepeatPassword }}}
        <ul>
            <li>{{errorTextOldPassword}}</li>
            <li>{{errorTextNewPassword}}</li>
            <li>{{errorTextRepeatPassword}}</li>
        </ul>
        {{{ buttonSubmit }}}
    </form>
</section>
