<section class="{{styles.profile}}">
    {{{ avatar }}}
    <form>
        {{{ inputOldPassword }}}
        {{{ inputNewPassword }}}
        {{{ inputRepeatPassword }}}
        {{{ buttonSubmit }}}
    </form>
</section>