{{{ title }}}
{{{ inputLogin }}}
{{{ inputName }}}
{{{ inputSecondName }}}
{{{ inputPhone }}}
{{{ inputPassword }}}
{{{ inputPasswordCheck }}}
{{{ buttonSubmit }}}
<a href="#" id="link-login">Войти</a>

