{{!-- {
  name: "Андрей",
  avatarLink: '',
  lastMessage: { 
    text: '',
    isMy: false,
    time: '10:21'
  },
  unreadCount: 2
} --}}

<div class="{{styles.recipient}}">
  <div class="{{styles.avatarOverlay}}">
    {{#if recipient.avatarLink}}
      <img
        class="{{styles.avatar}}"
        src="{{recipient.avatarLink}}"
        alt="Аватар пользователя"
      />
    {{/if}}
  </div>
  <div>
    <h3 class="{{styles.name}}">{{recipient.name}}</h3>
    <p class="{{styles.message}}">
      {{#if recipient.lastMessage.isMy}}<span>Вы: </span>{{/if}}
      {{recipient.lastMessage.text}}
    </p>
  </div>
  <p class="{{styles.time}}">{{recipient.lastMessage.time}}</p>
   {{#if recipient.unreadCount}}<p class="{{styles.unreadCount}}">{{recipient.unreadCount}}</p>{{/if}}
</div>