<section class="{{styles.profile}}">
  {{{ avatar }}}
  <h1>Екатерина</h1>
  <form id="profile">
    {{{ inputEmail }}}
    {{{ inputLogin }}}
    {{{ inputName }}}
    {{{ inputSecondName }}}
    {{{ inputDisplayName }}}
    {{{ inputPhone }}}
  </form>
  {{#if isCanChangeData}}
    {{{ buttonSubmit }}}
  {{else}}
    <a class="{{styles.link}}" id="linkChangeData" href="#">Изменить данные</a>
    <a class="{{styles.link}}" href="/change-password">Изменить пароль</a>
    <a class="{{styles.logout}}" href="/login">Выйти</a>
  {{/if}}
</section>
{{{ popup }}}
